#product-container
{
    display: flex;
}

.product-card
{
    border: 2;
    padding: 20px;
    border-radius: 3px;
    background-color: rgb(182, 3, 182);
}

.out-of-stock
{
    background-color: gray;
    color: red;
    padding: 20px;
    opacity: 50;
}